/* =========================
Default Body and Typography styles
=========================== */
body {
  @apply font-poppins antialiased;
}

.text-gradient {
  background: linear-gradient(180deg, #2a83d7 0%, #8fcaf9 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.bg-gradient{
  background:#0070ce linear-gradient(#0070ce 0%, #e5f3ff70 100%);
}
.bg-gradient1{
  background: linear-gradient(135deg, #2B7FFF 0%, #155DFC 100%);
}
.carousel.carousel-slider {
    padding-bottom: 35px !important;
}
.btn-remove:hover:before{
  opacity: 0 !important;
}
.carousel .control-dots .dot{box-shadow: none !important;background: #0070ce !important;}

.fw-700 {
  font-weight: 700;
}

.fs-36 {
  font-size: 36px;
  line-height: 40px;
}

.bg-blue-light {
  background-color: #F5FAFF;
}
.carousel.carousel-slider .control-arrow{display: none !important;}

.card .line {
  position: absolute;
  background: #155dfc;
  transition: all 0.4s ease;
  border-radius: 20px;
}

/* TOP */
.card .top {
  height: 2px;
  width: 0;
  top: 0;
  left: 0;
}

/* RIGHT */
.card .right {
  width: 2px;
  height: 0;
  top: 0;
  right: 0;
}

/* BOTTOM */
.card .bottom {
  height: 2px;
  width: 0;
  bottom: 0;
  right: 0;
}

/* LEFT */
.card .left {
  width: 2px;
  height: 0;
  bottom: 0;
  left: 0;
}

/* HOVER ANIMATION SEQUENCE */
.card:hover .top {
  width: 100%;
  transition-delay: 0s;
}

.card:hover .right {
  height: 100%;
  transition-delay: 0.2s;
}

.card:hover .bottom {
  width: 100%;
  transition-delay: 0.4s;
}

.card:hover .left {
  height: 100%;
  transition-delay: 0.6s;
}