/* =========================
Default Body and Typography styles
=========================== */
body {
  @apply font-roboto antialiased;
}

.text-gradient {
  background: linear-gradient(180deg, #2a83d7 0%, #8fcaf9 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.bg-gradient{
  background:#0070ce linear-gradient(#0070ce 0%, #e5f3ff70 100%);
}

.fw-700 {
  font-weight: 700;
}

.fs-36 {
  font-size: 36px;
  line-height: 40px;
}

.bg-blue-light {
  background-color: #F5FAFF;
}