@import 'tailwindcss';
@import '../styles/variables.css';
@import '../styles/icon-font.css';
@import '../styles/typography.css';
@import '../styles/common.css';
@import '../styles/base.css';
@import '../styles/button.css';
@import '../styles/badge.css';
@import '../styles/header.css';
@import '../styles/custom-swiper.css';
@import '../styles/number-animation.css';
@import '../styles/lenis.css';

@custom-variant dark (&:where(.dark, .dark *));

html {
  scroll-behavior: smooth;
}


/* .menu-triangle::after {
  position: absolute;
  left: 55%;
  margin-left: -20px;
  bottom: -16px;
  width: 0;
  height: 0;
  content: '';
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 12px solid #D8DBDD;
  z-index: 9999999;
  transition: all 0.3s ease-in-out;
  opacity: 0;
  pointer-events: none;
} */

.menu-triangle.active::after {
  opacity: 1;
  pointer-events: auto;
}

nav ul li.active button span {
  color: #0070ce !important;
}

/* Active nav underline bar */
nav ul li.active::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 3px;
  background-color: #0070ce;
  border-radius: 2px 2px 0 0;
}

nav ul li.active:last-child:after {
  width: calc(100% + 16px);
  left: calc(50% + 8px);
}

/* Active nav link text */
nav ul li.active>a span {
  color: #0070ce !important;
}

.carousel .slider {
  transition-timing-function: ease-in-out !important;
}

.swiper-wrapper {
  transition-timing-function: ease-in-out !important;
}

.swiper-pagination {
  display: flex;
  justify-content: center;
  margin-top: 10px;

}

.swiper-pagination-bullet {
  background: #ccc;
  opacity: 1;
  width: 12px !important;
  height: 12px !important;
  display: inline-block;
  border-radius: 30px;
  margin: 0 4px;
}

.swiper-pagination-bullet-active {
  background: #0070ce;
}

.ripple {
  position: absolute;
  border-radius: 9999px;
  transform: scale(0);
  animation: ripple-effect 600ms linear;
  background-color: rgba(255, 255, 255, 0.6);
  pointer-events: none;
  z-index: 10;
}

@keyframes ripple-effect {
  to {
    transform: scale(4);
    opacity: 0;
  }
}

@media screen and (max-width: 480px) {
  .banner h1{
    font-size: 30px !important;
    line-height: 22px !important
  }
  .banner p{
    font-size: 12px !important;
  .banner h1 {
    font-size: 34px !important;
  }

  .banner p {
    font-size: 14px !important;
    line-height: 22px !important;
  }
}
}
.banner-bg{
  /* backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px); */
  background: linear-gradient(90deg, #09092e 0%, #030354de 37.3%, #00003900 65%, #00007052 100%)
}